* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* common cls */
.width {
  max-width: 1360px;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  color: white;
  padding: 12px 16px;
  background-color: #469165;
  border-radius: 4px;
  border: none;
}

/* main cls */
#header-section {
  padding: 16px 0;
}

#header-section .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-section ul {
  display: flex;
  gap: 32px;
}

#header-section ul li {
  list-style: none;
}

#header-section ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
