* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* common cls */
.width {
  max-width: 1360px;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  color: white;
  padding: 12px 16px;
  background-color: #469165;
  border-radius: 4px;
  border: none;
}

.btn:hover {
  background: #52a173;
  cursor: pointer;
}

img {
}

/* main cls */
#header-section {
  padding: 16px 0;
}

#header-section .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-section ul {
  display: flex;
  gap: 32px;
}

#header-section ul li {
  list-style: none;
}

#header-section ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

#hero-section {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero-section .hero-container {
  padding-top: 70px;
  padding-bottom: 134px;
  text-align: center;
  color: #fff;
}

#hero-section .hero-container .early-access {
  max-width: 229px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 50px;
  margin: 0 auto 16px;
}

#hero-section .hero-container .early-access img {
  max-width: 16px;
  max-height: 16px;
}

#hero-section .hero-container .early-access p {
  font-weight: 500;
  color: #469165;
}

#hero-section .hero-container h1 {
  max-width: 770px;
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin: 0 auto 16px;
  text-transform: capitalize;
}

#hero-section .hero-container h1 span {
  color: #469165;
}

#hero-section .hero-container .sub-t {
  width: 685px;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto 32px;
}

#hero-section .hero-container .btns {
  display: flex;
  gap: 16px;
  justify-content: center;
}

#hero-section .hero-container .btns .work {
  background: none;
  border: 1px solid #fff;
}

#note-section {
  margin-top: 58px;
}

#note-section .note-container {
  text-align: center;
}

#note-section .note-container h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

#note-section .note-container p {
  line-height: 20px;
}

#note-section .note-cards {
  margin-top: 30px;
  display: flex;
  gap: 24px;
}

#note-section .note-cards .n-card {
  max-width: 322px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px #00000010;
}

#note-section .note-cards .n-card img {
  display: inline-block;
  max-width: 66px;
  padding: 14px;
  background-color: #f95555;
  margin-bottom: 16px;
  border-radius: 40px;
}

#note-section .note-cards .n-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

#second-brain-section {
  margin-top: 120px;
  margin-bottom: 120px;
}

#second-brain-section .second-brain-container {
  display: flex;
  align-items: center;
  gap: 60px;
}

#second-brain-section .second-brain-container .brain-content .solution {
  color: #469165;
  font-weight: 500;
  margin-bottom: 16px;
}

#second-brain-section .second-brain-container .brain-content h2 {
  max-width: 517px;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

#second-brain-section .second-brain-container .brain-content p {
  max-width: 520px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

#second-brain-section .second-brain-container .brain-content ul {
  list-style-position: inside;
}

#second-brain-section .second-brain-container .brain-content li {
  color: #001931;
  font-weight: 500;
  margin-bottom: 16px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 7px;
}

#ready {
}

#ready .ready-container {
  background-color: #f7f6f2;
  padding: 80px 0;
  text-align: center;
  border-radius: 12px;
}

#ready .ready-container .ready-content {
}

#ready .ready-container .ready-content h2 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

#ready .ready-container .ready-content p {
  width: 590px;
  color: #627382;
  line-height: 24px;
  margin: 0 auto 24px;
}

#ready .ready-container .ready-content .free {
  margin-top: 16px;
  margin-bottom: 0;
}

#footer-section {
  margin-top: 120px;
  background-color: #001931;
  color: #fff;
}

#footer-section .footer-container {
  padding-top: 120px;
  padding-bottom: 30px;
}

#footer-section .footer-container .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-section .footer-container .footer-content .social p {
  font-size: 20px;
  font-weight: 500;
}

#footer-section .footer-container .footer-content .s-icons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

#footer-section .footer-container .footer-content .s-icons a {
  max-width: 30px;
  max-height: 30px;
  text-decoration: none;
  color: #001931;
  background: #fff;
  border-radius: 30px;
}

#footer-section .footer-container .footer-content .s-icons i {
  font-size: 21px;
}

#footer-section .footer-container .copy-text {
  text-align: center;
  border-top: 1px solid #3b4f63;
  padding: 30px;
  margin-top: 80px;
}
